h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

.font-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase; }

.font-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px; }

.font-h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 21px; }

.font-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.font-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Oswald", sans-serif, sans-serif;
  font-weight: 400; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.header {
  background-image: url(../img/background_1.jpg);
  min-height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .header__btn {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: #F7654A;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #f9f7f6;
    margin-bottom: 4px;
    z-index: 3; }
  .header__line:last-child {
    margin-bottom: 0; }
  .header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px; }
  .header__h1 {
    color: #f9f7f6;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 17px; }
  .header__h4 {
    color: #f9f7f6;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto; }

.about {
  min-height: 1080px;
  position: relative; }
  .about__info {
    position: absolute;
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    padding: 57px 130px; }
    @media only screen and (max-width: 768px) {
      .about__info {
        position: relative; } }
  .about__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 30px; }
    @media only screen and (max-width: 1280px) {
      .about__table {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); } }
    @media only screen and (max-width: 768px) {
      .about__table {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr); } }
  .about__item {
    text-align: center;
    width: 190px; }
  .about__h4 {
    color: #F7654A;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .about__h5 {
    color: #000;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase; }
  .about__p {
    color: #999999;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center; }
