.font-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase; }

.font-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px; }

.font-h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 21px; }

.font-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.font-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Oswald", sans-serif, sans-serif;
  font-weight: 400; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.header {
  background-image: url(../img/background_1.jpg);
  min-height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .header__btn {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: #F7654A;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #f9f7f6;
    margin-bottom: 4px;
    z-index: 3; }
  .header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px; }
  .header__h1 {
    color: #f9f7f6; }
