.about {
    min-height: 1080px;
    position: relative;

    &__info {
        position: absolute;
        max-width: 1110px;
        min-height: 300px;
        width: 100%;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f7f7f7;
        padding: 57px 130px;
        
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    
}

