// COLOR VARIABLES
$color-primary: #f9f7f6;
$color-secondary: #F7654A;
$color-dark-grey: #404149;
$color-grey: #999999;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-main: 'Oswald', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $font-main, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}