// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-main: 'Oswald', sans-serif;

// COLOR VARIABLES
$color-primary: #f9f7f6;
$color-secondary: #F7654A;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}