// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-main: 'Oswald', sans-serif;

//FONT SIZE
.font-h2 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.font-h3 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 24px;
    
}

.font-h4 {
    font-family: $font-main;
    font-weight: 500;
    font-size: 21px;
    
}

.font-p {
    font-family: $font-primary;
    font-size: 16px;    
}

.font-p-reviews {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 21px;    
}

// COLOR VARIABLES
$color-primary: #f9f7f6;
$color-secondary: #F7654A;
$color-dark-grey: #404149;
$color-grey: #999999;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $font-main, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}