.contacts {
    padding: 100px 0 150px;

    &__h2 {
        text-align: center;
        margin-bottom: 60px;
    }

    &__grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: 1280px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        max-width: 250px;
        text-align: center;

        @media only screen and (max-width: 1280px) {
            max-width: 100%;
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin: 0 auto 13px;
    }

    &__h3 a {
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
        & {
            color: $color-secondary;
        }
    }

    &__h3-grey {
        color: $color-grey;
        margin-bottom: 18px;
    }
}