.header {
    background-image: url(../img/background_1.jpg);
    min-height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__btn {
        height: 50px;
        width: 50px;
        padding: 0;
        background-color: $color-secondary;
        border: none;
        cursor: pointer;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line {
        display: block;
        width: 21px;
        height: 3px;
        background-color: $color-primary;
        margin-bottom: 4px;
        z-index: 3;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 20px;
        margin-bottom: 112px;
    }

    &__h1 {
        color: $color-primary;
    }
}
