.header {
    background-image: url(../img/background_1.jpg);
    min-height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__btn {
        height: 50px;
        width: 50px;
        padding: 0;
        background-color: $color-secondary;
        border: none;
        cursor: pointer;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line {
        display: block;
        width: 21px;
        height: 3px;
        background-color: $color-primary;
        margin-bottom: 4px;
        z-index: 3;
    }

    &__line:last-child {
        margin-bottom: 0;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 20px;
        margin-bottom: 112px;

        @media only screen and (max-width: 1280px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__h1 {
        color: $color-primary;
        font-weight: 500;
        font-size: 64px;
        line-height: 95px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        max-width: 734px;
        margin: 0 auto 17px;
    }

    &__h4 {
        color: $color-primary;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        max-width: 734px;
        margin: 0 auto;
    }
}
